body {
    font-family: 'Inter';
}
h1 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 500;
}
h3 {
    font-family: 'Archivo Black', sans-serif;
    font-weight: 200;
}
.nav-link {
    color: black;
    transition: color 0.2s ease, border-color 0.2s ease;
}
.nav-link:hover {
    color: darkgrey;
}
/*containers*/
.navbar,
.landing-page-content,
.about-container,
.cv-container,
.cert-container,
.portfolio-container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 1px solid rgb(219, 219, 219);
}